{{> header }}
{{> navbar }}

<div class="row">
    <div class="col-8">
        <h1>Image -> </h1>
    </div>

    <div class="col-4">
        <img class="img-thumbnail" src="assets/image/logo.svg">
    </div>
</div>

{{> footer }}